.narr-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	animation: fadeIn 2s forwards;
}

.narr-pic-container {
	position: absolute;
	align-content: center;
	top: 15%;
}

.narr-pic {
	height: 20rem;
	width: 30rem;
}

.narr-story {
	font-size: 2rem;
	bottom: 4rem;
	text-align: center;
	position: absolute;
	width: 70%;
}

.narr-cont-button {
	margin-top: 1rem;
}

.narr-skip-button {
	color: gray;
	cursor: pointer;
	margin-top: 1rem;
}
