.cs-narr-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cs-narr-pic-container {
	/* margin-top: 5rem; */
	background-color: silver;
	border: 5px solid silver;
	/* max-height: 674px; */
	position: absolute;
	align-content: center;
	top: 10%;
}

.cs-narr-pic {
	height: 20rem;
	width: 30rem;
}

.cs-narr-story {
	font-size: 2rem;
	bottom: 4rem;
	text-align: center;
	position: absolute;
	width: 70%;
}

.cs-narr-cont-button {
	margin-top: 1rem;
}

.cs-narr-skip-button {
	color: gray;
	cursor: pointer;
	margin-top: 1rem;
}
