@font-face {
	font-family: "oldlondon";
	src: url(../fonts/old_london/OldLondon.ttf);
}

@font-face {
	font-family: "airyin";
	src: url(../fonts/airyin/Airyin.otf);
}

body {
	background-color: black;
	color: white;
	font-family: 'oldlondon';
	letter-spacing: .25rem;
}
