@font-face {
	font-family: "oldlondon";
	src: url(../fonts/old_london/OldLondon.ttf);
}

@font-face {
	font-family: "airyin";
	src: url(../fonts/airyin/Airyin.otf);
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

body {
	color: white;
	font-family: 'oldlondon';
	letter-spacing: .25rem;
}
