.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-content {
	width: 100%;
}

#meta-data {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 2rem;
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.5);
}

.clickable {
	cursor: pointer;
}

#sound-icon {
	width: 100px;
	height: 100px;
}

.options {
	position: absolute;
	left: .5rem;
	bottom: .2rem;
}

.author-area {
	font-family: 'Times New Roman', Times, serif;
	position: absolute;
	right: .1rem;
	bottom: .2rem;
	z-index: 97;
	width: 100%;
	display: flex;
	justify-content: end;
}