.eastston-blue {
	color: #ffffff;
    opacity: 1;
	animation: colorChange 2s ease-in 1s forwards;
	transition-delay: 2s;
}

@keyframes colorChange {
	from {
		color: white;
	}
	to {
		color: rgb(104, 104, 255);
	}
}
